/* keyframes para animar el joystick */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  background-color: var(--color-azul-oscuro);
  padding: 20px;
  min-width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-gris-intermedio);
  gap: 10px;
}

.tituloFondo h4 {
  color: var(--color-rosa-neon); /* Nuevo color */
  margin: 0;
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 0 0 10px var(--color-rosa-neon), 0 0 20px var(--color-rosa-neon); /* Efecto neón */
}

/* Joystick animado */
.joystickIcon {
  animation: spin 5s linear infinite;
  color: var(--color-rosa-neon); /* Nuevo color para el icono */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo para los elementos de la lista */
.menu li {
  margin-bottom: 12px;
}

/* Estilo para los enlaces (que ahora se verán como botones) */
.menu li a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--color-blanco-brillante);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
  gap: 10px;
}

.menu li a:hover {
  background-color: var(--color-gris-claro-formulario);
  border-color: var(--color-gris-intermedio);
}

.menu li a.active {
  background-color: var(--color-rosa-neon);
  color: var(--color-blanco-brillante);
  border-color: var(--color-rosa-neon);
  box-shadow: 0 0 10px var(--color-rosa-neon);
}

/* Versión móvil */
@media (max-width: 991px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .header {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .menu li {
    margin-bottom: 0;
    margin-left: 10px;
  }
}