/* Estilos generales para la barra lateral en modo desktop */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: var(--color-fondo-oscuro);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  transform: translateX(0);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Encabezado del menú */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-gris-intermedio);
  margin-bottom: 20px;
}

.header h4 {
  margin: 0 10px;
  font-weight: 700;
  color: var(--color-rosa-neon);
}

.joystickIcon {
  padding: 5px;
  border: 1px solid var(--color-rosa-neon);
  border-radius: 5px;
  animation: key-spin infinite 15s linear;
}

@keyframes key-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Lista de navegación */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu li {
  margin-bottom: 5px;
}

/* Enlaces de navegación */
.menu a {
  display: block;
  padding: 12px 15px;
  color: var(--color-gris-claro-formulario);
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  background-color: rgba(255, 105, 180, 0.1);
  color: var(--color-blanco-brillante);
}

.menu a.active {
  background-color: var(--color-rosa-neon);
  color: var(--color-blanco-brillante);
  box-shadow: 0 0 10px var(--color-rosa-neon), 0 0 20px var(--color-rosa-neon);
  font-weight: bold;
}

/* Estilos para el Offcanvas de Bootstrap */
.navLink {
  color: var(--color-blanco-brillante) !important;
  font-size: 1.2rem;
  padding: 1rem !important;
  transition: background-color 0.3s;
}

.navLink:hover {
  background-color: var(--color-gris-intermedio);
}

.offcanvas-body {
  background-color: var(--color-negro-oscuro) !important;
}

.offcanvas-header {
  background-color: var(--color-negro-oscuro) !important;
  border-bottom: 1px solid var(--color-gris-intermedio);
}